In [8]:
import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
files = glob.glob('data-to-use/*.csv')

In [13]:
df_feb = df_march = df_jan = df_april = df_may =  pd.DataFrame(columns= pd.read_csv(files[0]).columns)
for f in files:
    df = pd.read_csv(f)
    df_jan = df_jan.append(df[(df.years == 2020) & (df.months == 1)],ignore_index= True)
    df_feb = df_feb.append(df[(df.years == 2020) & (df.months == 2)],ignore_index= True)
    df_march = df_march.append(df[(df.years == 2020) & (df.months == 3)],ignore_index= True)
    df_april = df_april.append(df[(df.years == 2020) & (df.months == 4)],ignore_index= True)
    df_may = df_may.append(df[(df.years == 2020) & (df.months == 5)],ignore_index= True)
df_may

,Unnamed: 0,Unnamed: 0.1,ratings,action,categories,dislikes,likes,durations,view_cnts,years,months,days,hours,minutes,weekdays,link,titles,source,query,datetime
0,128,128,NaN,Searched,[],NaN,NaN,NaN,NaN,2020,5,2,22,36,5,NaN,NaN,search,butterfly effect,2020-05-02 22:36:00
1,127,127,NaN,Searched,[],NaN,NaN,NaN,NaN,2020,5,2,22,57,5,NaN,NaN,search,mustang,2020-05-02 22:57:00
2,126,126,NaN,Visited,[],NaN,NaN,NaN,NaN,2020,5,2,23,4,5,NaN,NaN,search,Electric Ford Mustang With 536 HP Coming To Go...,2020-05-02 23:04:00
3,125,125,NaN,Searched,[],NaN,NaN,NaN,NaN,2020,5,3,0,3,6,NaN,NaN,search,the genesee,2020-05-03 00:03:00
4,124,124,NaN,Searched,[],NaN,NaN,NaN,NaN,2020,5,3,0,3,6,NaN,NaN,search,the genesee lyrics,2020-05-03 00:03:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33360,347,4,NaN,Searched,[],NaN,NaN,NaN,NaN,2020,5,28,19,3,3,NaN,NaN,search,elizabeth may ny,2020-05-28 19:03:00
33361,346,3,NaN,Visited,"[['/News', 0.6100000143051147], ['/Arts & Ente...",NaN,NaN,NaN,NaN,2020,5,28,19,3,3,NaN,NaN,search,Wedding: Richard A. Duvall and Elizabeth M. Ma...,2020-05-28 19:03:00
33362,345,2,NaN,Visited,"[['/Reference', 0.5699999928474426]]",NaN,NaN,NaN,NaN,2020,5,28,19,3,3,NaN,NaN,search,Contributions to the tribute of Elizabeth May,2020-05-28 19:03:00
33363,343,0,NaN,Visited,"[['/Jobs & Education/Education', 0.99000000953...",NaN,NaN,NaN,NaN,2020,5,29,10,54,4,NaN,NaN,search,"Anki - powerful, intelligent flashcards",2020-05-29 10:54:00
33364,344,1,NaN,Searched,"[['/Jobs & Education/Education', 0.99000000953...",NaN,NaN,NaN,NaN,2020,5,29,10,54,4,NaN,NaN,search,anki for mac,2020-05-29 10:54:00

In [ ]:
df.groupby([df['datetime'].dt.strftime('%W')])['quantity'].sum()